<body class="align">
  <div class="grid">
    <div class="row mb-3">
      <h2 class="login__title ">
        Login
      </h2>
    </div>
    <form *ngIf="!!formGroup"
          class="form login"
          [formGroup]="formGroup"
          (ngSubmit)="submitForm()">
      <div class="form__field form-group">
        <label for="login__username">
          <fa-icon [icon]="faUser"></fa-icon>
          <span class="hidden">Username</span></label>
        <input
          id="login__username"
          type="text"
          name="username"
          class="form__input"
          placeholder="Username"
          formControlName="username">
      </div>
      <div class="form__field form-group">
        <label for="login__password">
          <fa-icon [icon]="faLock"></fa-icon>
          <span class="hidden">Password</span></label>
        <input
          id="login__password"
          type="password"
          name="password"
          class="form__input"
          placeholder="Password"
          formControlName="password"
          required>
      </div>
      <div class="form__field">
        <input type="submit" class="btn" value="Login">
      </div>
    </form>
    <p class="text-center">Not a member? <a href="/register">Sign up now</a></p>
  </div>
</body>



