<!-- Blog Start -->
<div class="container-fluid p-5">
  <div class="mb-5 text-center">
    <h5 class="text-primary text-uppercase">Our Blog</h5>
    <h1 class="display-3 text-uppercase mb-0">Ongoing Events</h1>
  </div>
  <div class="row g-5">
    <div class="col-lg-4">
      <div class="blog-item">
        <div class="position-relative overflow-hidden rounded-top">
          <img class="img-fluid" src="assets/img/freshers.jpg" alt="">
        </div>
        <div class="bg-dark d-flex align-items-center rounded-bottom p-4" >
          <div class="flex-shrink-0 text-center text-secondary border-end border-secondary pe-3 me-3">
            <span>19</span>
            <h6 class="text-light text-uppercase mb-0">March</h6>
            <span>2023</span>
          </div>
          <a class="h5 text-uppercase text-light"
             routerLink="/"
             [routerLink]="['/events/treasure-hunt']"
             [routerLinkActive]="'active'"
          >Freshers 2.0</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Blog End -->
