<div class="modal-header">
  <h4 class="modal-title">
    СЪЗДАЙ ОТБОР
  </h4>
  <button type="button" class="btn" aria-label="Close" (click)="closeModal()">
    <h2 aria-hidden="true">&times;</h2>
  </button>
</div>
<div class="modal-body" >
  <form *ngIf="!!formGroup"
        [formGroup]="formGroup"
        novalidate
        (ngSubmit)="submitForm()">

    <div class="row">
      <div class="col-12">
        <div class="form-group">
          <label for="name">Име на отбора</label>
          <div class="position-relative has-icon-right mt-1">
            <input type="text"
                   id="name"
                   class="form-control"
                   placeholder="Въведете име на отбора"
                   formControlName="name">
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-12">
          <label for="UsersIds">Участници</label>
<!--          <ng-select [items]="users"-->
<!--                     [multiple]="true"-->
<!--                     placeholder="Изберете участници"-->
<!--                     bindLabel="name"-->
<!--                     bindValue="id"-->
<!--                     id="UsersIds"-->
<!--                     labelForId="name"-->
<!--                     formControlName="userId"-->
<!--                     appendTo="body">-->
<!--            <ng-template ng-optgroup-tmp let-item="item">-->
<!--              {{item.name}}-->
<!--            </ng-template>-->
<!--          </ng-select>-->

          <ng-select [items]="users"
                     [clearable]="true"
                     [multiple]="true"
                     bindLabel="facultyNumber"
                     bindValue="id"
                     id="UsersIds"
                     class="mt-1"
                     formControlName="userIds"
                     placeholder="Изберете потребители">
            <ng-template ng-option-tmp let-item="item">
              <div>
                <span class="font-weight-500">{{item.facultyNumber}}</span><br>
                <span class="small">{{item.userName}}</span>
              </div>
            </ng-template>
          </ng-select>
      </div>
    </div>



  <!--    <div class="row">-->
  <!--      <div class="col text-nowrap">-->
  <!--          <span class="custom-control custom-checkbox m-0 check-left">-->
  <!--            <input type="checkbox"-->
  <!--                   class="custom-control-input"-->
  <!--                   id="ReportIsPublic"-->
  <!--                   name="report-checkBox"-->
  <!--                   formControlName="isPublic"-->
  <!--                   appFormControlDisable>-->
  <!--            <label class="custom-control-label cursor-pointer pt-0"-->
  <!--                   for="ReportIsPublic">ДОСТЪПНА ЗА ВСИЧКИ СЛУЖИТЕЛИ</label>-->
  <!--                    <span class="text-info font-medium-2 ml-2"-->
  <!--                          ngbPopover="Всички служители от институцията, които-->
  <!--                                    имат достъп до платформата АдминПлюс-->
  <!--                                    ще могат да достъпват справката!"-->
  <!--                          triggers="mouseenter:mouseleave"-->
  <!--                          container="body">-->
  <!--                        <i class="fas fa-info-circle"></i>-->
  <!--                    </span>-->
  <!--          </span>-->
  <!--      </div>-->
  <!--    </div>-->


  </form>
</div>

<div class="modal-footer">
  <button class="btn btn-outline-primary  "
          (click)="submitForm()">Запази
  </button>
</div>

