<div class="container-fluid programe position-relative px-5 mt-5" style="margin-bottom: 135px;">
  <div class="row g-5 gb-5">
    <ng-container *ngFor="let hunt of allTreasureHuntData">
      <div class="col-lg-4 col-md-6">
        <div class="bg-light rounded text-center p-5">
          <i class="flaticon-barbell display-1 text-primary"></i>
          <h3 class="text-uppercase my-4">{{hunt.Name}}</h3>
          <p>Start Time: {{hunt.StartTime}} | End Time: {{hunt.EndTime}}</p>
          <a class="text-uppercase" (click)="getCurrent(hunt)">Join this event<fa-icon [icon]="faArrowRight"></fa-icon></a>
        </div>
      </div>
    </ng-container>
  </div>
</div>
