<!-- Blog Start -->
<div class="container-fluid p-5">
  <div class="mb-5 text-center">
    <h1 class="display-3 text-uppercase mb-0">Join Guess The Image</h1>
  </div>
  <div class="row">
    <div class="col">
      <button type="submit" class="btncts create_team_button bg-primary" (click)="changeGameStatus()">
        Change game status
      </button>
    </div>
    <div class="col" style="text-align: right">
      <button type="submit" class="btncts create_team_button bg-primary" (click)="createGame()">
        Create game
      </button>
    </div>
  </div>
  <div class="row g-5 mt-5">
      <div class="col center-container">
        <button type="submit" class="btn-middle btn btn-primary" (click)="joinTheGame()">
          Join
        </button>
      </div>
  </div>
</div>
<!-- Blog End -->
